.container{
    max-width: 1200px;
    width: 100%;
    padding:0 0.5rem ;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.jcc{
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}