

.contact-sec {
    padding-bottom: 4rem;
    h3 {
        font-size: 1.8rem;
        font-weight: 900;
    }
    .map-sec {
        margin-top: 5rem;

        .form {
            align-self: flex-start;
            text-align: center;
            .form-control {
                display: block;
                padding: .3rem .5rem;
                width: 100%;
                font-size: 1.1rem;
                opacity: .7;
                margin: 1rem 0;
                border: 1px solid rgb(149, 147, 147);
                outline: 0;

                &:focus {
                    border: 1px solid blue;
                }
            } 

            .btn {
                display: inline-block;
                margin-top: 1rem;
            }
        } 
        
    }
}
