$font: 'Inter', sans-serif;
$pri :rgb(220,60,69);
$sec :rgb(242,242,242);
$tri :rgb(255,255,255);
$bg:rgb(248,249,250);
$icon_clr:rgb(235,235,235);
$text_dark:rgb(27,30,36);
$text_light:rgb(146,152,158);
$clients_bck:rgb(189,190,190);
$footer_bck:rgb(52,58,64);